body {
    background: url(Background/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    margin-top: 20px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    color: white;
}

.login {
    margin-top: 100px;
}

.footer {
    margin-top: 90px;
}