/* For Responsive -----------------------------------------------------------------------------------------------------------------------START */
@media only screen and (min-device-width : 320px) and (max-device-width : 360px) {
    
    .header p {
        font-size: 22px;
    }
    
    .personal_info_section {
        margin-top: 20px;
    }
    
    textarea {
        width: 210px;
    }

    .browse_icon {
        margin-top: 10px;
    }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     .header p {
        font-size: 22px;
    }
    
    .personal_info_section {
        margin-top: 20px;
    }
    
    textarea {
        width: 615px;
    }

    .browse_icon {
        margin-top: 10px;
    }
    
}
/* For Responsive ----------------------------------------------------------------------------------------------------------------------- END */