body {
    background: url(Background/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    color: white;
    margin-top: 100px;
    border-bottom: 1px white solid;
}

.container .login_form {
    margin-top: 90px;
}

fieldset {
    display: table-column;
}

.form-horizontal {
    border: 1px #485a72;
    border-radius: 15px;
    padding: 17px;
    background: #f2f2f2;
}

#bangla_font {
    font-family: 'SutonnyMJ';
    font-size: 12pt;
}